html{
  box-sizing:border-box;
  font-size: 100%;  
}

*, *::before, *::after{
  box_sizing: inherent;
}

body{
margin: 0;
padding: 0;
background-color: #000000;
color: #ffffff;
}

#map{
  height: 80vh;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size:2rem;
  padding: 0 3rem;
}

.gm-style-iw-d{
  color: #000000;
}
